#contents
{
	max-width: 1024px;
}

.project-card-list
{
	display: inline-block;
	margin: 10px;
	text-align: center;
}

.project-card-item
{
	display: inline-block;
	padding: 0px 0px;
	border: 1px #c0c0c0 solid;
	width: 250px;
	border-radius: 5px;
	position: relative;
	margin: 10px;
	text-align: left;
	vertical-align: top;
}

.project-card-item.create-project-card .top
{
	text-align: center;
	padding-left: 10px;
	font-weight: bold;
	font-size: 20px;
	align-items: center;
}

.project-card-item.create-project-card .bottom
{
	display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: 176px;
    padding: 0px;
}

.project-card-item .project-icon
{
	position: absolute;
	top: 35px;
	left: 10px;
    border-radius: 50px;
    padding: 10px;
    background: #c0c0c0;
    width: 42px;
}

.project-card-item .top
{
	border-bottom: 1px #c0c0c0 solid;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    height: 63px;
    padding-right: 15px;
}

.project-card-item .bottom
{
	padding: 40px 10px 10px 10px;
	height: 126px;
}

.project-card-item .bottom .summary
{
	color: #c0c0c0;
}

.project-card-item .bottom .title
{
	font-weight: bold;
    font-size: 32px;
}

.project-card-item .bottom .desc
{
	color: #c0c0c0;
    font-size: 12px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 230px;
    overflow: hidden;
    display: -webkit-box;
}