<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>IO MEMBERS</title>
</head>

<body>
    <h1> Join with our IO Members! </h1>
    <form action="/signup" method="POST">
        <label for="email">E-MAIL</label>
        <input name="email" type="email" required />
        <label for="password">PASSWORD</label>
        <input name="password" type="password" required />
        <label for="name">NAME</label>
        <input name="name" type="text" required />
        <label for="nickname">NICKNAME</label>
        <input name="nickname" type="text" required />
        <label for="gender">GENDER</label>
        <input name="gender" type="text" required />
        <button class="btn">SIGNUP!</button>
    </form>
</body>

</html>