<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Teams</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href=<%= cdn("style/common.css") %>>
    <link rel="stylesheet" href=<%= cdn("style/team.css") %>>
</head>

<body>
    <%- include('partition/header') %>
    <div id="contents"></div>
    <%- include('partition/footer') %>
    <script src="js/team.js"></script>
</body>

</html>