<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Teams</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style/common.css" %>>
    <link rel="stylesheet" href="style/teams.css" %>>
</head>

<body>
    <div id="header">
        <div class="title">
            <img class="logo" src="image/icon.png" />
            <div>
                <div class="project-name">IOPM</div>
                <div class="project-desc">Project Management tool made by Insider & Outsider</div>
            </div>
        </div>
        <ul class="navi-list">
            <li class="navi-item">Home</li>
            <li class="navi-item">Home</li>
            <li class="navi-item">Home</li>
            <li class="navi-item">Home</li>
            <li class="navi-item">Home</li>
        </ul>
    </div>
    <div id="contents">
        <ul id="teams" class="team-card-list">
            <li class="team-card-item" v-for="team in teams">
                <img src="image/fingerprint.png" />
                <div class="top">Lorem Ipsum</div>
                <div class="bottom">
                    <div class="summary">{{ team.summary }}</div>
                    <div class="title">{{ team.title }}</div>
                    <div class="desc">{{ team.desc }}</div>
                </div>
            </li>
        </ul>
    </div>
    <div id="footer">Footer</div>
    <script src="js/teams.js"></script>
</body>

</html>