<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Teams</title>
    <%- include('partition/dependency') %>
    <link rel="stylesheet" href=<%= cdn("style/teams.css") %>>
</head>

<body>
    <%- include('partition/header') %>
    <div id="contents">
        <ul id="teams" class="team-card-list">
            <li class="team-card-item create-team-card">
                <div class="top">Create Your Team!</div>
                <div class="bottom">
                    <img src=<%= cdn("image/create.png") %> />
                </div>
            </li>
            <li class="team-card-item" data-aos="zoom-in" v-for="team in teams">
                <a v-bind:href="'team/' + team.title">
                    <img class="team-icon" src="image/fingerprint.png" />
                    <div class="top">Lorem Ipsum</div>
                    <div class="bottom">
                        <div class="summary">{{ team.summary }}</div>
                        <div class="title">{{ team.title }}</div>
                        <div class="desc">{{ team.desc }}</div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
    <script src="js/teams.js"></script>
</body>

</html>