<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Teams</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="style/common.css" %>>
    <link rel="stylesheet" href="style/teams.css" %>>
</head>

<body>
    <%- include('partition/header') %>
    <div id="contents">
        <ul id="teams" class="team-card-list">
            <li class="team-card-item" v-for="team in teams">
                <img src="image/fingerprint.png" />
                <div class="top">Lorem Ipsum</div>
                <div class="bottom">
                    <div class="summary">{{ team.summary }}</div>
                    <div class="title">{{ team.title }}</div>
                    <div class="desc">{{ team.desc }}</div>
                </div>
            </li>
        </ul>
    </div>
    <%- include('partition/footer') %>
    <script src="js/teams.js"></script>
</body>

</html>