<script type="text/x-template" id="create_section_template">
    <transition name="create_section">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="create-section-container">
                    
                    <div class="caption">
                        <div class="title">Confirm</div>
                    </div>
                    
                    <div class="contents">
                        <input type="text" name="title" v-model='project_title' placeholder="Project title" />
                        <div class="buttons">
                            <button class="no" @click="$emit('close')">NO</button>
                            <button class="yes" v-bind:title='project_title' v-on:click="$emit('ok', {title: $event.target.attributes.title.value})">YES</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>

<script>
    Vue.component('create_section', {
        props: ['title'],
        data: function () {
            return {
                project_title: this.title,
                project_desc: this.desc
            }
        },
        template: '#create_section_template'
    })
</script>


<style>
    .create-section-container {
        margin: 0 auto;
        width: 600px;
    }

    .create-section-container .caption {
        color: white;
        background-color: black;
        padding: 10px 20px;
    }

    .create-section-container .contents {
        background-color: white;
        color: #a0a0a0;
        display: flex;
        flex-direction: column;
        padding: 30px 25px;
    }

    .create-section-container .contents input {
        padding: 10px 10px;
        width: 80%;
    }

    .create-section-container .contents input:focus {
        outline: none;
    }

    .create-section-container .contents input[name=title] {
        margin-bottom: 20px;
    }

    .create-section-container .contents .buttons {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }

    .create-section-container .contents .buttons>button {
        background-color: white;
        border: none;
        outline: 1px #c0c0c0 solid;
        padding: 5px 10px;
        margin-left: 10px;
    }

    .create-section-container .contents .buttons>button:focus {
        outline: 1px black solid;
    }
</style>