<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Modify your Information</title>
</head>

<body>
    <h1> Modify your information </h1>
    <form action="/member/modify" method="PUT">
        <label for="email">E-MAIL</label>
        <input name="email" type="email" value="<%= member.email %>" required />
        <label for="password">PASSWORD</label>
        <input name="password" type="password" required />
        <label for="name">NAME</label>
        <input name="name" type="text" required />
        <label for="nickname">NICKNAME</label>
        <input name="nickname" type="text" required />
        <label for="gender">GENDER</label>
        <input name="gender" type="text" required />
        <label for="phone">PHONE</label>
        <input name="phone" type="text" required />
        <label for="photo">PHOTO</label>
        <input name="photo" type="text" required />
        <button class="btn">SIGNUP!</button>
    </form>
</body>

</html>