<div id="header">
    <a href='/' class="title">
        <img class="logo" src=<%= cdn("image/icon.png") %> />
        <div>
            <div class="project-name">IOPM</div>
            <div class="project-desc">Project Management tool made by Insider & Outsider</div>
        </div>
    </a>
    <ul class="navi-list">
        <li class="navi-item">Home</li>
        <li class="navi-item">Home</li>
        <li class="navi-item">Home</li>
        <li class="navi-item">Home</li>
        <li class="navi-item">Home</li>
    </ul>
</div>